WebShop_MVC/AppWeb.Tests/Service References/ShopWS/ServiceShopSoa.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AppWeb.Framework.Data.DB.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AppWeb.Framework.Data.DB.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TCliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="Apellidos" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ciudad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodCliente" type="xs:int" />
      <xs:element minOccurs="0" name="Contrasena" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Distrito" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Genero" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombres" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NroDocumento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Provincia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RazonSocial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TCabeceraVenta" nillable="true" type="tns:ArrayOfTCabeceraVenta" />
      <xs:element minOccurs="0" name="TOrdenVenta" nillable="true" type="tns:ArrayOfTOrdenVenta" />
      <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoDocumento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TCliente" nillable="true" type="tns:TCliente" />
  <xs:complexType name="ArrayOfTCabeceraVenta">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TCabeceraVenta" nillable="true" type="tns:TCabeceraVenta" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTCabeceraVenta" nillable="true" type="tns:ArrayOfTCabeceraVenta" />
  <xs:complexType name="TCabeceraVenta">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodCliente" type="xs:int" />
      <xs:element minOccurs="0" name="FechaVenta" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NroDetalleVenta" type="xs:int" />
      <xs:element minOccurs="0" name="TCliente" nillable="true" type="tns:TCliente" />
      <xs:element minOccurs="0" name="TDetalleVenta" nillable="true" type="tns:TDetalleVenta" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TCabeceraVenta" nillable="true" type="tns:TCabeceraVenta" />
  <xs:complexType name="TDetalleVenta">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cantidad" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CodProducto" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="NroDetalleVenta" type="xs:int" />
      <xs:element minOccurs="0" name="NroVenta" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PrecioUnitario" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="TCabeceraVenta" nillable="true" type="tns:ArrayOfTCabeceraVenta" />
      <xs:element minOccurs="0" name="TOrdenVenta" nillable="true" type="tns:TOrdenVenta" />
      <xs:element minOccurs="0" name="TProducto" nillable="true" type="tns:TProducto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TDetalleVenta" nillable="true" type="tns:TDetalleVenta" />
  <xs:complexType name="TOrdenVenta">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodCliente" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="FechaEntrega" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaVenta" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NroVenta" type="xs:int" />
      <xs:element minOccurs="0" name="TCliente" nillable="true" type="tns:TCliente" />
      <xs:element minOccurs="0" name="TDetalleVenta" nillable="true" type="tns:ArrayOfTDetalleVenta" />
      <xs:element minOccurs="0" name="Total" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TOrdenVenta" nillable="true" type="tns:TOrdenVenta" />
  <xs:complexType name="ArrayOfTDetalleVenta">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TDetalleVenta" nillable="true" type="tns:TDetalleVenta" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTDetalleVenta" nillable="true" type="tns:ArrayOfTDetalleVenta" />
  <xs:complexType name="TProducto">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodProducto" type="xs:int" />
      <xs:element minOccurs="0" name="CodSubCategoria" type="xs:int" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Especificacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Precio" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Stock" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TDetalleVenta" nillable="true" type="tns:ArrayOfTDetalleVenta" />
      <xs:element minOccurs="0" name="TSubCategoria" nillable="true" type="tns:TSubCategoria" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TProducto" nillable="true" type="tns:TProducto" />
  <xs:complexType name="TSubCategoria">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodCategoria" type="xs:int" />
      <xs:element minOccurs="0" name="CodSubCategoria" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TCategoria" nillable="true" type="tns:TCategoria" />
      <xs:element minOccurs="0" name="TProducto" nillable="true" type="tns:ArrayOfTProducto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TSubCategoria" nillable="true" type="tns:TSubCategoria" />
  <xs:complexType name="TCategoria">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodCategoria" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TSubCategoria" nillable="true" type="tns:ArrayOfTSubCategoria" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TCategoria" nillable="true" type="tns:TCategoria" />
  <xs:complexType name="ArrayOfTSubCategoria">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TSubCategoria" nillable="true" type="tns:TSubCategoria" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTSubCategoria" nillable="true" type="tns:ArrayOfTSubCategoria" />
  <xs:complexType name="ArrayOfTProducto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TProducto" nillable="true" type="tns:TProducto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTProducto" nillable="true" type="tns:ArrayOfTProducto" />
  <xs:complexType name="ArrayOfTOrdenVenta">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TOrdenVenta" nillable="true" type="tns:TOrdenVenta" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTOrdenVenta" nillable="true" type="tns:ArrayOfTOrdenVenta" />
</xs:schema>