WebShop_MVC/AppWeb.Tests/Service References/ShopWS/ServiceShopSoa.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceShopSoa" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:13332/ServiceShopSoa.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:13332/ServiceShopSoa.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:13332/ServiceShopSoa.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AppWeb.Framework.DB.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceShopSoa_AgregarCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:AgregarCliente" />
  </wsdl:message>
  <wsdl:message name="IServiceShopSoa_AgregarCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgregarClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceShopSoa_AgregarProducto_InputMessage">
    <wsdl:part name="parameters" element="tns:AgregarProducto" />
  </wsdl:message>
  <wsdl:message name="IServiceShopSoa_AgregarProducto_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgregarProductoResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceShopSoa_AgregarSubCategoria_InputMessage">
    <wsdl:part name="parameters" element="tns:AgregarSubCategoria" />
  </wsdl:message>
  <wsdl:message name="IServiceShopSoa_AgregarSubCategoria_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgregarSubCategoriaResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceShopSoa_AgregarCategoria_InputMessage">
    <wsdl:part name="parameters" element="tns:AgregarCategoria" />
  </wsdl:message>
  <wsdl:message name="IServiceShopSoa_AgregarCategoria_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgregarCategoriaResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceShopSoa">
    <wsdl:operation name="AgregarCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceShopSoa/AgregarCliente" message="tns:IServiceShopSoa_AgregarCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceShopSoa/AgregarClienteResponse" message="tns:IServiceShopSoa_AgregarCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AgregarProducto">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceShopSoa/AgregarProducto" message="tns:IServiceShopSoa_AgregarProducto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceShopSoa/AgregarProductoResponse" message="tns:IServiceShopSoa_AgregarProducto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AgregarSubCategoria">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceShopSoa/AgregarSubCategoria" message="tns:IServiceShopSoa_AgregarSubCategoria_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceShopSoa/AgregarSubCategoriaResponse" message="tns:IServiceShopSoa_AgregarSubCategoria_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AgregarCategoria">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceShopSoa/AgregarCategoria" message="tns:IServiceShopSoa_AgregarCategoria_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceShopSoa/AgregarCategoriaResponse" message="tns:IServiceShopSoa_AgregarCategoria_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceShopSoa" type="tns:IServiceShopSoa">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AgregarCliente">
      <soap:operation soapAction="http://tempuri.org/IServiceShopSoa/AgregarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarProducto">
      <soap:operation soapAction="http://tempuri.org/IServiceShopSoa/AgregarProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarSubCategoria">
      <soap:operation soapAction="http://tempuri.org/IServiceShopSoa/AgregarSubCategoria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarCategoria">
      <soap:operation soapAction="http://tempuri.org/IServiceShopSoa/AgregarCategoria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceShopSoa">
    <wsdl:port name="BasicHttpBinding_IServiceShopSoa" binding="tns:BasicHttpBinding_IServiceShopSoa">
      <soap:address location="http://localhost:13332/ServiceShopSoa.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>