WebShop_MVC/AppWeb/Service References/ShopWS/ServiceShopSoa2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:13332/ServiceShopSoa.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AppWeb.Framework.Data.DB.Model" />
  <xs:element name="AgregarCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AppWeb.Framework.Data.DB.Model" minOccurs="0" name="cliente" nillable="true" type="q1:TCliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AppWeb.Framework.Data.DB.Model" minOccurs="0" name="AgregarClienteResult" nillable="true" type="q2:TCliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AppWeb.Framework.Data.DB.Model" minOccurs="0" name="cliente" nillable="true" type="q3:TCliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarClienteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaClientes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaClientesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/AppWeb.Framework.Data.DB.Model" minOccurs="0" name="ListaClientesResult" nillable="true" type="q4:ArrayOfTCliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/AppWeb.Framework.Data.DB.Model" minOccurs="0" name="BuscarClienteResult" nillable="true" type="q5:TCliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/AppWeb.Framework.Data.DB.Model" minOccurs="0" name="producto" nillable="true" type="q6:TProducto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/AppWeb.Framework.Data.DB.Model" minOccurs="0" name="AgregarProductoResult" nillable="true" type="q7:TProducto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/AppWeb.Framework.Data.DB.Model" minOccurs="0" name="producto" nillable="true" type="q8:TProducto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarProductoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BorrarProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/AppWeb.Framework.Data.DB.Model" minOccurs="0" name="producto" nillable="true" type="q9:TProducto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BorrarProductoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaProductos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaProductosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/AppWeb.Framework.Data.DB.Model" minOccurs="0" name="ListaProductosResult" nillable="true" type="q10:ArrayOfTProducto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/AppWeb.Framework.Data.DB.Model" minOccurs="0" name="BuscarProductoResult" nillable="true" type="q11:TProducto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarSubCategoria">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/AppWeb.Framework.Data.DB.Model" minOccurs="0" name="subCategoria" nillable="true" type="q12:TSubCategoria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarSubCategoriaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/AppWeb.Framework.Data.DB.Model" minOccurs="0" name="AgregarSubCategoriaResult" nillable="true" type="q13:TSubCategoria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarSubCategoria">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/AppWeb.Framework.Data.DB.Model" minOccurs="0" name="subCategoria" nillable="true" type="q14:TSubCategoria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarSubCategoriaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BorrarSubCategoria">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/AppWeb.Framework.Data.DB.Model" minOccurs="0" name="subCategoria" nillable="true" type="q15:TSubCategoria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BorrarSubCategoriaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaSubCategorias">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaSubCategoriasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/AppWeb.Framework.Data.DB.Model" minOccurs="0" name="ListaSubCategoriasResult" nillable="true" type="q16:ArrayOfTSubCategoria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarSubCategoria">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarSubCategoriaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/AppWeb.Framework.Data.DB.Model" minOccurs="0" name="BuscarSubCategoriaResult" nillable="true" type="q17:TSubCategoria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarCategoria">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/AppWeb.Framework.Data.DB.Model" minOccurs="0" name="categoria" nillable="true" type="q18:TCategoria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarCategoriaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/AppWeb.Framework.Data.DB.Model" minOccurs="0" name="AgregarCategoriaResult" nillable="true" type="q19:TCategoria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarCategoria">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/AppWeb.Framework.Data.DB.Model" minOccurs="0" name="categoria" nillable="true" type="q20:TCategoria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarCategoriaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BorrarCategoria">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/AppWeb.Framework.Data.DB.Model" minOccurs="0" name="categoria" nillable="true" type="q21:TCategoria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BorrarCategoriaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaCategorias">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaCategoriasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/AppWeb.Framework.Data.DB.Model" minOccurs="0" name="ListaCategoriasResult" nillable="true" type="q22:ArrayOfTCategoria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarCategoria">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarCategoriaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/AppWeb.Framework.Data.DB.Model" minOccurs="0" name="BuscarCategoriaResult" nillable="true" type="q23:TCategoria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarNuevaVenta">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/AppWeb.Framework.Data.DB.Model" minOccurs="0" name="cliente" nillable="true" type="q24:TCliente" />
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/AppWeb.Framework.Data.DB.Model" minOccurs="0" name="productos" nillable="true" type="q25:ArrayOfShopData" />
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/AppWeb.Framework.Data.DB.Model" minOccurs="0" name="card" nillable="true" type="q26:CreditCardData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarNuevaVentaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AgregarNuevaVentaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaOrdenVent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cliente" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaOrdenVentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/AppWeb.Framework.Data.DB.Model" minOccurs="0" name="ListaOrdenVentResult" nillable="true" type="q27:ArrayOfTOrdenVenta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerDetalleVenta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codVenta" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerDetalleVentaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/AppWeb.Framework.Data.DB.Model" minOccurs="0" name="ObtenerDetalleVentaResult" nillable="true" type="q28:ArrayOfTDetalleVenta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarOrdenVenta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarOrdenVentaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/AppWeb.Framework.Data.DB.Model" minOccurs="0" name="BuscarOrdenVentaResult" nillable="true" type="q29:TOrdenVenta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarLoginCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarLoginClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/AppWeb.Framework.Data.DB.Model" minOccurs="0" name="ValidarLoginClienteResult" nillable="true" type="q30:TCliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>