WebShop_MVC/AppWeb/Service References/ShopWS/ServiceShopSoa.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceShopSoa" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:13332/ServiceShopSoa.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:13332/ServiceShopSoa.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:13332/ServiceShopSoa.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AppWeb.Framework.Data.DB.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceShopSoa_AgregarCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:AgregarCliente" />
  </wsdl:message>
  <wsdl:message name="IServiceShopSoa_AgregarCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgregarClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceShopSoa_ActualizarCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarCliente" />
  </wsdl:message>
  <wsdl:message name="IServiceShopSoa_ActualizarCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceShopSoa_ListaClientes_InputMessage">
    <wsdl:part name="parameters" element="tns:ListaClientes" />
  </wsdl:message>
  <wsdl:message name="IServiceShopSoa_ListaClientes_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListaClientesResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceShopSoa_BuscarCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarCliente" />
  </wsdl:message>
  <wsdl:message name="IServiceShopSoa_BuscarCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceShopSoa_AgregarProducto_InputMessage">
    <wsdl:part name="parameters" element="tns:AgregarProducto" />
  </wsdl:message>
  <wsdl:message name="IServiceShopSoa_AgregarProducto_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgregarProductoResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceShopSoa_ActualizarProducto_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarProducto" />
  </wsdl:message>
  <wsdl:message name="IServiceShopSoa_ActualizarProducto_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarProductoResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceShopSoa_BorrarProducto_InputMessage">
    <wsdl:part name="parameters" element="tns:BorrarProducto" />
  </wsdl:message>
  <wsdl:message name="IServiceShopSoa_BorrarProducto_OutputMessage">
    <wsdl:part name="parameters" element="tns:BorrarProductoResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceShopSoa_ListaProductos_InputMessage">
    <wsdl:part name="parameters" element="tns:ListaProductos" />
  </wsdl:message>
  <wsdl:message name="IServiceShopSoa_ListaProductos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListaProductosResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceShopSoa_BuscarProducto_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarProducto" />
  </wsdl:message>
  <wsdl:message name="IServiceShopSoa_BuscarProducto_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarProductoResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceShopSoa_AgregarSubCategoria_InputMessage">
    <wsdl:part name="parameters" element="tns:AgregarSubCategoria" />
  </wsdl:message>
  <wsdl:message name="IServiceShopSoa_AgregarSubCategoria_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgregarSubCategoriaResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceShopSoa_ActualizarSubCategoria_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarSubCategoria" />
  </wsdl:message>
  <wsdl:message name="IServiceShopSoa_ActualizarSubCategoria_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarSubCategoriaResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceShopSoa_BorrarSubCategoria_InputMessage">
    <wsdl:part name="parameters" element="tns:BorrarSubCategoria" />
  </wsdl:message>
  <wsdl:message name="IServiceShopSoa_BorrarSubCategoria_OutputMessage">
    <wsdl:part name="parameters" element="tns:BorrarSubCategoriaResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceShopSoa_ListaSubCategorias_InputMessage">
    <wsdl:part name="parameters" element="tns:ListaSubCategorias" />
  </wsdl:message>
  <wsdl:message name="IServiceShopSoa_ListaSubCategorias_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListaSubCategoriasResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceShopSoa_BuscarSubCategoria_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarSubCategoria" />
  </wsdl:message>
  <wsdl:message name="IServiceShopSoa_BuscarSubCategoria_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarSubCategoriaResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceShopSoa_AgregarCategoria_InputMessage">
    <wsdl:part name="parameters" element="tns:AgregarCategoria" />
  </wsdl:message>
  <wsdl:message name="IServiceShopSoa_AgregarCategoria_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgregarCategoriaResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceShopSoa_ActualizarCategoria_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarCategoria" />
  </wsdl:message>
  <wsdl:message name="IServiceShopSoa_ActualizarCategoria_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarCategoriaResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceShopSoa_BorrarCategoria_InputMessage">
    <wsdl:part name="parameters" element="tns:BorrarCategoria" />
  </wsdl:message>
  <wsdl:message name="IServiceShopSoa_BorrarCategoria_OutputMessage">
    <wsdl:part name="parameters" element="tns:BorrarCategoriaResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceShopSoa_ListaCategorias_InputMessage">
    <wsdl:part name="parameters" element="tns:ListaCategorias" />
  </wsdl:message>
  <wsdl:message name="IServiceShopSoa_ListaCategorias_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListaCategoriasResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceShopSoa_BuscarCategoria_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarCategoria" />
  </wsdl:message>
  <wsdl:message name="IServiceShopSoa_BuscarCategoria_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarCategoriaResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceShopSoa_AgregarNuevaVenta_InputMessage">
    <wsdl:part name="parameters" element="tns:AgregarNuevaVenta" />
  </wsdl:message>
  <wsdl:message name="IServiceShopSoa_AgregarNuevaVenta_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgregarNuevaVentaResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceShopSoa_ValidarLoginCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidarLoginCliente" />
  </wsdl:message>
  <wsdl:message name="IServiceShopSoa_ValidarLoginCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidarLoginClienteResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceShopSoa">
    <wsdl:operation name="AgregarCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceShopSoa/AgregarCliente" message="tns:IServiceShopSoa_AgregarCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceShopSoa/AgregarClienteResponse" message="tns:IServiceShopSoa_AgregarCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceShopSoa/ActualizarCliente" message="tns:IServiceShopSoa_ActualizarCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceShopSoa/ActualizarClienteResponse" message="tns:IServiceShopSoa_ActualizarCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListaClientes">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceShopSoa/ListaClientes" message="tns:IServiceShopSoa_ListaClientes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceShopSoa/ListaClientesResponse" message="tns:IServiceShopSoa_ListaClientes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceShopSoa/BuscarCliente" message="tns:IServiceShopSoa_BuscarCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceShopSoa/BuscarClienteResponse" message="tns:IServiceShopSoa_BuscarCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AgregarProducto">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceShopSoa/AgregarProducto" message="tns:IServiceShopSoa_AgregarProducto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceShopSoa/AgregarProductoResponse" message="tns:IServiceShopSoa_AgregarProducto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarProducto">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceShopSoa/ActualizarProducto" message="tns:IServiceShopSoa_ActualizarProducto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceShopSoa/ActualizarProductoResponse" message="tns:IServiceShopSoa_ActualizarProducto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BorrarProducto">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceShopSoa/BorrarProducto" message="tns:IServiceShopSoa_BorrarProducto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceShopSoa/BorrarProductoResponse" message="tns:IServiceShopSoa_BorrarProducto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListaProductos">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceShopSoa/ListaProductos" message="tns:IServiceShopSoa_ListaProductos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceShopSoa/ListaProductosResponse" message="tns:IServiceShopSoa_ListaProductos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarProducto">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceShopSoa/BuscarProducto" message="tns:IServiceShopSoa_BuscarProducto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceShopSoa/BuscarProductoResponse" message="tns:IServiceShopSoa_BuscarProducto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AgregarSubCategoria">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceShopSoa/AgregarSubCategoria" message="tns:IServiceShopSoa_AgregarSubCategoria_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceShopSoa/AgregarSubCategoriaResponse" message="tns:IServiceShopSoa_AgregarSubCategoria_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarSubCategoria">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceShopSoa/ActualizarSubCategoria" message="tns:IServiceShopSoa_ActualizarSubCategoria_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceShopSoa/ActualizarSubCategoriaResponse" message="tns:IServiceShopSoa_ActualizarSubCategoria_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BorrarSubCategoria">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceShopSoa/BorrarSubCategoria" message="tns:IServiceShopSoa_BorrarSubCategoria_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceShopSoa/BorrarSubCategoriaResponse" message="tns:IServiceShopSoa_BorrarSubCategoria_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListaSubCategorias">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceShopSoa/ListaSubCategorias" message="tns:IServiceShopSoa_ListaSubCategorias_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceShopSoa/ListaSubCategoriasResponse" message="tns:IServiceShopSoa_ListaSubCategorias_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarSubCategoria">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceShopSoa/BuscarSubCategoria" message="tns:IServiceShopSoa_BuscarSubCategoria_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceShopSoa/BuscarSubCategoriaResponse" message="tns:IServiceShopSoa_BuscarSubCategoria_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AgregarCategoria">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceShopSoa/AgregarCategoria" message="tns:IServiceShopSoa_AgregarCategoria_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceShopSoa/AgregarCategoriaResponse" message="tns:IServiceShopSoa_AgregarCategoria_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarCategoria">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceShopSoa/ActualizarCategoria" message="tns:IServiceShopSoa_ActualizarCategoria_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceShopSoa/ActualizarCategoriaResponse" message="tns:IServiceShopSoa_ActualizarCategoria_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BorrarCategoria">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceShopSoa/BorrarCategoria" message="tns:IServiceShopSoa_BorrarCategoria_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceShopSoa/BorrarCategoriaResponse" message="tns:IServiceShopSoa_BorrarCategoria_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListaCategorias">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceShopSoa/ListaCategorias" message="tns:IServiceShopSoa_ListaCategorias_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceShopSoa/ListaCategoriasResponse" message="tns:IServiceShopSoa_ListaCategorias_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarCategoria">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceShopSoa/BuscarCategoria" message="tns:IServiceShopSoa_BuscarCategoria_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceShopSoa/BuscarCategoriaResponse" message="tns:IServiceShopSoa_BuscarCategoria_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AgregarNuevaVenta">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceShopSoa/AgregarNuevaVenta" message="tns:IServiceShopSoa_AgregarNuevaVenta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceShopSoa/AgregarNuevaVentaResponse" message="tns:IServiceShopSoa_AgregarNuevaVenta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidarLoginCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceShopSoa/ValidarLoginCliente" message="tns:IServiceShopSoa_ValidarLoginCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceShopSoa/ValidarLoginClienteResponse" message="tns:IServiceShopSoa_ValidarLoginCliente_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceShopSoa" type="tns:IServiceShopSoa">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AgregarCliente">
      <soap:operation soapAction="http://tempuri.org/IServiceShopSoa/AgregarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarCliente">
      <soap:operation soapAction="http://tempuri.org/IServiceShopSoa/ActualizarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListaClientes">
      <soap:operation soapAction="http://tempuri.org/IServiceShopSoa/ListaClientes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarCliente">
      <soap:operation soapAction="http://tempuri.org/IServiceShopSoa/BuscarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarProducto">
      <soap:operation soapAction="http://tempuri.org/IServiceShopSoa/AgregarProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarProducto">
      <soap:operation soapAction="http://tempuri.org/IServiceShopSoa/ActualizarProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BorrarProducto">
      <soap:operation soapAction="http://tempuri.org/IServiceShopSoa/BorrarProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListaProductos">
      <soap:operation soapAction="http://tempuri.org/IServiceShopSoa/ListaProductos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarProducto">
      <soap:operation soapAction="http://tempuri.org/IServiceShopSoa/BuscarProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarSubCategoria">
      <soap:operation soapAction="http://tempuri.org/IServiceShopSoa/AgregarSubCategoria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarSubCategoria">
      <soap:operation soapAction="http://tempuri.org/IServiceShopSoa/ActualizarSubCategoria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BorrarSubCategoria">
      <soap:operation soapAction="http://tempuri.org/IServiceShopSoa/BorrarSubCategoria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListaSubCategorias">
      <soap:operation soapAction="http://tempuri.org/IServiceShopSoa/ListaSubCategorias" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarSubCategoria">
      <soap:operation soapAction="http://tempuri.org/IServiceShopSoa/BuscarSubCategoria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarCategoria">
      <soap:operation soapAction="http://tempuri.org/IServiceShopSoa/AgregarCategoria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarCategoria">
      <soap:operation soapAction="http://tempuri.org/IServiceShopSoa/ActualizarCategoria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BorrarCategoria">
      <soap:operation soapAction="http://tempuri.org/IServiceShopSoa/BorrarCategoria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListaCategorias">
      <soap:operation soapAction="http://tempuri.org/IServiceShopSoa/ListaCategorias" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarCategoria">
      <soap:operation soapAction="http://tempuri.org/IServiceShopSoa/BuscarCategoria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarNuevaVenta">
      <soap:operation soapAction="http://tempuri.org/IServiceShopSoa/AgregarNuevaVenta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidarLoginCliente">
      <soap:operation soapAction="http://tempuri.org/IServiceShopSoa/ValidarLoginCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceShopSoa">
    <wsdl:port name="BasicHttpBinding_IServiceShopSoa" binding="tns:BasicHttpBinding_IServiceShopSoa">
      <soap:address location="http://localhost:13332/ServiceShopSoa.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>